.flex-div {
  flex: 0 1 auto;
  max-height: 100%;
}

.error {
  color: red;
  font-size: 9pt;
  min-width: 100%;
  text-align: left;
  display: block;
  height: 1rem;
  margin-top: -1em;
  margin-bottom: 1em;
}

.optional {
  color: #a1a1a1;
  font-size: 9pt;
  min-width: 100%;
  text-align: left;
  display: block;
  height: 1rem;
  margin-top: -1em;
  margin-bottom: 1em;
}
