.box-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-control {
  flex: 0 1 auto;
  align-self: center;
  width: 3em;
  height: 3em;
  text-align: center;
  text-align: -webkit-center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 5px #0000006a;
}

button.slider-control {
  border: none;
  outline: 0;
}

button.slider-control:active,
button.slider-control:focus {
  color: black;
  cursor: pointer;
  box-shadow: 2px 2px 5px #0000006a inset;
}

button.slider-control:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.symbol {
  margin: auto 0;
}

input,
select,
textarea {
  outline: none;
}
